* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* header */
.bg-pic {
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}

.nav {
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 90px;
    cursor: pointer;
}



.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 7px 15px;
    font-weight: bold;
    line-height: 50px;
    margin: 0 5px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

}

.nav ul li a:hover {
    color: red;

}

.content {
    width: 100%;
    color: white;
    font-size: 50px;
    padding-top: 90px;
    align-items: center;
}

.btn1 {
    display: inline-block;
    background: red;
    border: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

}

button:hover {
    background: rgb(226, 140, 140);
}


/* body */
.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 200px;

}

.item2 {
    padding: 20px 0 20px 0;
    align-items: center;
    line-height: 25px;
}

.item2 h1 {
    font-size: 30px;
    padding: 25px 0;
    align-items: center;
    padding-top: 30px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn2 {
    display: inline-block;
    background: red;
    border: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

}

/* offers */
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 20px;
    column-gap: 20px;
    padding-right: 25px;
    padding-left: 25px;
}
.categories{
    animation-name: categories;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: 8s;
    animation-direction:alternate-reverse ;
}
@keyframes categories{
    from{width:200px;}
    to{width:1400px;}
}
/* what new */
.menu {
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.menu p {
    text-align: center;
}

/* food items */
.categories1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 30px;
    column-gap: 160px;
    padding-right: 25px;
    padding-left: 25px;
}
.categories1{
    animation-name: categories1;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: 8s;
    animation-direction:alternate-reverse ;
}
@keyframes categories1{
    from{width:200px;}
    to{width:1800px;}
}
.p-item h4{
    padding-bottom: 15px;
    text-align: center;
}

.p-item p {
    text-align: center;
}
span {
    color: red;
}

/* video */
.q-v {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.q-v-1 p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 100px;
    padding-right: 20px;
    
}

.q-v-1 h4 {
    text-align: center;
    font-size: 15px;
}

.btn3 {
    display: inline-block;
    background: red;
    border: black;
    color: white;
    padding: 8px 30px;
    margin: 50px 30px 50px 400px;
    transition: background 0.5s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* map */
iframe {
    padding: 20px 0;
    justify-content: center;
    width: 100%;
    
}



/* footer */
.footer {
    background: #000;
    color: white;
    font-size: 14px;
    padding: 40px 0 30px 60px;
    line-height: 30px;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}


ul {
    list-style-type: none;
}


.footer-col-1 img {
    width: 50%;
    cursor: pointer;
}

.copyright{
    text-align: center;
}


